[core]
	autocrlf = input
	whitespace = trailing-space, space-before-tab
	editor = emacs
[user]
	name = Simon Altschuler
	email = simon@altschuler.dk
	signingkey = F7F3EB1D6431910C
[color]
	ui = auto
[push]
	default = current
[apply]
	whitespace = fix
[magit]
	hideCampaign = true
[github]
	user = altschuler
